workflows/part2-search.json
{
  "name": "[3] AI Agent — Part 2: Semantic Ticket Search (Google Chat Bot)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jira-search",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "gchat_webhook",
      "name": "Google Chat Webhook",
      "position": [
        0,
        304
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "f97985d2-d5f4-4d10-8eaf-a39e35d725a1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({model: \"text-embedding-3-small\", input: $json.body.message?.text?.replace(/^@[^\\s]+\\s*/, '') || $json.body.message?.text || ''}) }}",
        "options": {}
      },
      "id": "embed3",
      "maxTries": 3,
      "name": "Generate Query Embedding",
      "position": [
        224,
        304
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "Mnx3JB7ylSMnZvAW",
          "name": "OpenAi revops influ2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const embedResult = $input.first().json;\n\nif (embedResult.error) {\n  return [{ json: { query: 'unknown', query_embedding: null, embed_error: embedResult.error.message }}];\n}\n\n// HTTP Request to OpenAI returns data[0].embedding\nconst embedding = embedResult.data?.[0]?.embedding;\nif (!embedding) {\n  return [{ json: { query: 'unknown', query_embedding: null, embed_error: 'No embedding in response' }}];\n}\n\nconst rawText = $('Google Chat Webhook').first().json.body.message?.text || '';\nconst query = rawText.replace(/^@[^\\s]+\\s*/, '').trim();\n\nreturn [{ json: { query, query_embedding: JSON.stringify(embedding), embed_error: null } }];"
      },
      "id": "extract3",
      "name": "Extract Query Embedding",
      "position": [
        448,
        304
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://krcgtgsmzbjikokfsqxi.supabase.co/rest/v1/rpc/match_tickets",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\"query_embedding\": {{ $json.query_embedding }}, \"match_threshold\": 0.3, \"match_count\": 3}",
        "options": {}
      },
      "id": "search3",
      "name": "Semantic Search Supabase",
      "position": [
        672,
        304
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "credentials": {
        "supabaseApi": {
          "id": "upGmVPjWnyM3aDEr",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all();\nconst ctx = $('Extract Query Embedding').first().json;\nconst query = ctx.query || 'your query';\n\n// Embedding failed\nif (ctx.embed_error) {\n  return [{ json: { text: `Sorry, I couldn't process your search right now. Please try again.` } }];\n}\n\n// Search returned no results\nif (!results || results.length === 0 || results[0].json?.code) {\n  return [{ json: { text: `No matching tickets found for: \"${query}\"\\n\\nTry rephrasing, or check that the backlog has been indexed.` } }];\n}\n\nconst lines = results.map((r, i) => {\n  const t = r.json;\n  const score = (t.similarity * 100).toFixed(0);\n  return `${i + 1}. *${t.ticket_id}* ${t.title}\\n   Status: ${t.status} | Match: ${score}%\\n   ${t.url}`;\n}).join('\\n\\n');\n\nreturn [{ json: { text: `Found ${results.length} ticket(s) for: \"${query}\"\\n\\n${lines}` } }];"
      },
      "id": "format3",
      "name": "Format and Reply",
      "position": [
        880,
        304
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({text: $json.text}) }}",
        "options": {}
      },
      "id": "reply_chat",
      "name": "Reply to Google Chat",
      "position": [
        1104,
        304
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "error_trigger3",
      "name": "Error Trigger",
      "position": [
        0,
        512
      ],
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://krcgtgsmzbjikokfsqxi.supabase.co/rest/v1/error_log",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({workflow: 'Part2-SemanticSearch', node: $json.execution?.lastNodeExecuted, error_msg: $json.error?.message, payload: {executionId: $json.execution?.id}}) }}",
        "options": {}
      },
      "id": "log_err3",
      "name": "Log Workflow Error",
      "position": [
        224,
        512
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "credentials": {
        "supabaseApi": {
          "id": "upGmVPjWnyM3aDEr",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "Log Workflow Error",
            "type": "main"
          }
        ]
      ]
    },
    "Extract Query Embedding": {
      "main": [
        [
          {
            "index": 0,
            "node": "Semantic Search Supabase",
            "type": "main"
          }
        ]
      ]
    },
    "Format and Reply": {
      "main": [
        [
          {
            "index": 0,
            "node": "Reply to Google Chat",
            "type": "main"
          }
        ]
      ]
    },
    "Generate Query Embedding": {
      "main": [
        [
          {
            "index": 0,
            "node": "Extract Query Embedding",
            "type": "main"
          }
        ]
      ]
    },
    "Google Chat Webhook": {
      "main": [
        [
          {
            "index": 0,
            "node": "Generate Query Embedding",
            "type": "main"
          }
        ]
      ]
    },
    "Semantic Search Supabase": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format and Reply",
            "type": "main"
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "versionId": "ccacd07d-4223-4f02-9562-b60e68c6189a",
  "meta": {
    "instanceId": "58d4d3850ce21f8b6754536f74d3fe4b21646a4023554112613018498286758b"
  },
  "id": "NERxbZOX3hyWNHIb",
  "tags": []
}