workflows/part1-notification.json
{
  "name": "AI Agent — Part 1: Jira Done Notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jira-done",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "trigger",
      "name": "Jira Webhook",
      "position": [
        0,
        304
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "4927ac71-0c97-4463-98b4-9cb51eaec337"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.body.transition.to.name }}",
              "operator": {
                "operation": "equals",
                "singleValue": false,
                "type": "string"
              },
              "rightValue": "Done"
            }
          ],
          "options": {
            "caseSensitive": false
          }
        },
        "options": {}
      },
      "id": "filter",
      "name": "Filter: Status = Done",
      "position": [
        224,
        304
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst issue = body.issue || {};\nconst fields = issue.fields || {};\n\nconst rawDesc = fields.description?.content?.[0]?.content?.[0]?.text || '';\nconst description = rawDesc.trim().length > 5 ? rawDesc.trim().substring(0, 300) : 'No description provided';\n\nreturn [{ json: {\n  ticket_id: issue.key || 'UNKNOWN',\n  title: fields.summary || 'Untitled ticket',\n  description,\n  url: `https://your-domain.atlassian.net/browse/${issue.key}`,\n  assignee: fields.assignee?.displayName || 'Unassigned',\n  project: fields.project?.name || 'Unknown'\n} }];"
      },
      "id": "extract",
      "name": "Extract Ticket Data",
      "position": [
        448,
        224
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "requestOptions": {}
      },
      "id": "summarise",
      "maxTries": 3,
      "name": "GPT Summarise Ticket",
      "position": [
        672,
        224
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "Mnx3JB7ylSMnZvAW",
          "name": "OpenAi revops influ2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const ticketData = $('Extract Ticket Data').first().json;\nconst gptResponse = $input.first().json;\n\n// Handle GPT failure gracefully — fall back to raw title\nconst summary = gptResponse.error\n  ? `${ticketData.title} has been completed.`\n  : (gptResponse.choices?.[0]?.message?.content || `${ticketData.title} has been completed.`);\n\nconst message = `[${ticketData.ticket_id}] Done\\n${summary}\\n${ticketData.url}`;\n\nreturn [{ json: { message, ticketData, summary } }];"
      },
      "id": "build_msg",
      "name": "Build Notification Message",
      "position": [
        880,
        224
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_GOOGLE_CHAT_WEBHOOK_URL",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({text: $json.message}) }}",
        "options": {}
      },
      "id": "notify_chat",
      "name": "Google Chat Notification",
      "position": [
        1104,
        160
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fromEmail": "agent@yourdomain.com",
        "toEmail": "team@yourdomain.com",
        "subject": "={{ '[Done] ' + $('Extract Ticket Data').first().json.ticket_id + ' — ' + $('Extract Ticket Data').first().json.title }}",
        "options": {}
      },
      "id": "notify_email",
      "name": "Email Notification",
      "position": [
        1104,
        336
      ],
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "webhookId": "9b3f08bf-fa31-4ab6-8225-548f264bb4b0",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "error_trigger2",
      "name": "Error Trigger",
      "position": [
        0,
        512
      ],
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://krcgtgsmzbjikokfsqxi.supabase.co/rest/v1/error_log",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({workflow: 'Part1-Notification', node: $json.execution?.lastNodeExecuted, error_msg: $json.error?.message, payload: {executionId: $json.execution?.id}}) }}",
        "options": {}
      },
      "id": "log_err2",
      "name": "Log Workflow Error",
      "position": [
        224,
        512
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "credentials": {
        "supabaseApi": {
          "id": "upGmVPjWnyM3aDEr",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Build Notification Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Google Chat Notification",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Email Notification",
            "type": "main"
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "Log Workflow Error",
            "type": "main"
          }
        ]
      ]
    },
    "Extract Ticket Data": {
      "main": [
        [
          {
            "index": 0,
            "node": "GPT Summarise Ticket",
            "type": "main"
          }
        ]
      ]
    },
    "Filter: Status = Done": {
      "main": [
        [
          {
            "index": 0,
            "node": "Extract Ticket Data",
            "type": "main"
          }
        ],
        []
      ]
    },
    "GPT Summarise Ticket": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Notification Message",
            "type": "main"
          }
        ]
      ]
    },
    "Jira Webhook": {
      "main": [
        [
          {
            "index": 0,
            "node": "Filter: Status = Done",
            "type": "main"
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "8790cc88-8b31-4f5e-8dd4-72be786a978c",
  "meta": {
    "instanceId": "58d4d3850ce21f8b6754536f74d3fe4b21646a4023554112613018498286758b"
  },
  "id": "fQv2hhPSYFZ1GIAi",
  "tags": []
}